


<form method="post" action= "<%=canva_sketches_path @canva %>">
  <input type="hidden" name="room_choice" value="<%= @svg %>">
  <input id ='sofa_key' type="hidden" name="sofa" value= 'ffffff' >
  <input id ='cushion_one_key'type="hidden" name="cushion_one" value= 'ffffff' >
  <input id ='cushion_two_key'type="hidden" name="cushion_two" value= 'ffffff' >
  <input id ='room_wall_key'type="hidden" name="room_wall" value= 'ffffff' >
  <input id ='room_floor_key'type="hidden" name="room_floor" value= 'ffffff' >
  <input id ='lamp_key'type="hidden" name="lamp" value= 'ffffff' >
  <input id ='carpet_key'type="hidden" name="carpet" value= 'ffffff' >
  <input id ='coffee_table_key'type="hidden" name="coffee_table" value= 'ffffff' >
  <button id="generate_svg" type="submit" class="link-button">Save my canvas</button>
</form>

<%= link_to "My profile", current_user %>
