<form method="post" action= "<%=canva_sketches_path @canva %>">

  <input type="hidden" name="room_choice" value="<%= @svg %>">
  <input id ='sofa_key' type="hidden" name="sofa" value= '#ffffff' >
  <input id ='cushion_one_key'type="hidden" name="cushion_one" value= '#ffffff' >
  <input id ='cushion_two_key'type="hidden" name="cushion_two" value= '#ffffff' >
  <input id ='room_wall_key'type="hidden" name="room_wall" value= '#ffffff' >
  <input id ='room_floor_key'type="hidden" name="room_floor" value= '#ffffff' >
  <input id ='lamp_key'type="hidden" name="lamp" value= '#ffffff' >
  <input id ='carpet_key'type="hidden" name="carpet" value= '#ffffff' >
  <input id ='coffee_table_key'type="hidden" name="coffee_table" value= '#ffffff' >
  <input id ='lamp_secondary_key'type="hidden" name="lamp_secondary" value= '#ffffff' >
  <input id ='lamp_body_key'type="hidden" name="lamp_body" value= '#ffffff' >
  <input id ='sofa_secondary_key'type="hidden" name="sofa_secondary" value= '#ffffff' >
  <input id ='coffee_table_legs_key'type="hidden" name="coffee_table_legs" value= '#ffffff' >
  <input id ='coffee_table_drawer_key'type="hidden" name="coffee_table_drawer" value= '#ffffff' >
  <input id ='flower_pot_key'type="hidden" name="flower_pot" value= '#ffffff' >
  <input id ='picture_frames_key'type="hidden" name="picture_frames" value= '#ffffff' >
  <input id ='sofa_stand_key'type="hidden" name="sofa_stand" value= '#ffffff' >
  <input id ='skirting_key'type="hidden" name="skirting" value= '#ffffff'>

  <% if user_signed_in? %>
    <input id="generate_svg" type="submit" class="side_nav_button" value="Save"></input>
  <% end %>
</form>

<form method="get" action= "<%=canvas_path%>">
  <input type='submit' value='New Room' class="side_nav_button" id="side_nav_lighter"/>

</form>
