

<%= form_for @canva, html: {multipart: true} do |f| %>
  <input type="hidden" name="room_choice" value="<%= @svg %>">

  <div style="height:0px;overflow:hidden">
    <%= f.file_field :image, :id => 'fileInput', :onchange => "readURL()" %>
  </div>

  <div class="imageUploadDiv">
    <span class="actionNumber">1.</span>
    <button type="button" class="bigBtnDefault" onclick="chooseFile();">Choose an Image</button>

    <div id="fileURL"></div>

    <span class="actionNumber">2.</span><button type="submit" value="Submit" class="bigBtnLighter">Show my Colours</button>

  </div>

<% end %>

<script>
  function chooseFile() {
    document.getElementById("fileInput").click();
    var message = $("input#fileInput").val();
    console.log(message);
  }

  function readURL() {
    var message = $("input#fileInput").val();
    $("#fileURL").html("Photo successfully uploaded");
  }

</script>
