<h1>Blank Canvas</h1>

<form method="get" action= 'canvas/new' class="inline">
  <input type="hidden" name="selection" value="1" >
  <button type="submit" class="link-button">
    <img src= "/images/test.svg"/>
  </button>
</form>
