<h1><img src="/images/flourish_left.svg"> select a room to style <img src="/images/flourish_right.svg"></h1>

<div class="pure-g outside-box">
  <div class="pure-u-lg-1-2">
    <div class="inside-box">
      <form method="get" action= 'canvas/new'>
        <input type="hidden" name="room_choice" value="1" >
        <button id="first_svg" type="submit" class="link-button">
          <img src= "/images/room_1.svg"/ width=100% height=auto>
          <div class="caption-layout">
            Contemporary
          </div>
          <div class="caption">
             A modern temple for a liberal thinker.
          </div>
        </button>
      </form>
    </div>
  </div>

  <div class="pure-u-lg-1-2">
    <div class="inside-box">
      <form method="get" action= 'canvas/new' >
        <input type="hidden" name="room_choice" value="2" >
        <button id="second_svg" type="submit" class="link-button">
          <img src= "/images/room_2.svg"/ width=100% height=auto>
          <div class="caption-layout">
            Studio
          </div>
          <div class="caption">
            Unobtrusive space for the creative or avant-garde professional.
          </div>
        </button>
      </form>
  </div>
</div>

  <div class="pure-u-lg-1-2">
    <div class="inside-box">
    <form method="get" action= 'canvas/new'>
      <input type="hidden" name="room_choice" value="3" >
      <button id="third_svg" type="submit" class="link-button">
        <img src= "/images/room_3.svg"/ width=100% height=auto>
        <div class="caption-layout">
          Retro
        </div>
        <div class="caption">
           A stylish dwelling for cat lovers and happy homemakers.
        </div>
      </button>
    </form>
  </div>
  </div>

  <div class="pure-u-lg-1-2">
    <div class="inside-box">
    <form method="get" action= 'canvas/new' >
      <input type="hidden" name="room_choice" value="4" >
      <button id="fourth_svg" type="submit" class="link-button">
        <img src= "/images/room_4.svg"/ width=100% height=auto>
        <div class="caption-layout">
          Vintage
        </div>
        <div class="caption">
           A cosy oasis to escape the pressures of modern living.
        </div>
      </button>
    </form>
  </div>
</div>
</div>
