<h2><p class="rotate">ยง</p> select a room to style <span class="rotate">&mdash;</span></h2>

<div class="pure-g outside-box">
  <div class="pure-u-sm-1-2">
    <div class="inside-box">
      <form method="get" action= 'canvas/new'>
        <input type="hidden" name="room_choice" value="1" >
        <button id="first_svg" type="submit" class="link-button">
          <img src= "/images/room_1.svg"/ width=100% height=auto>
        </button>
      </form>
    </div>
  </div>

  <div class="pure-u-sm-1-2">
    <div class="inside-box">
      <form method="get" action= 'canvas/new' >
        <input type="hidden" name="room_choice" value="2" >
        <button id="second_svg" type="submit" class="link-button">
          <img src= "/images/room_2.svg"/ width=100% height=auto>
          <div class="caption-layout">
            Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui,non felis. <br>
            Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a,<br>
            ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus <br>
            fermentum in, dolor. Pellentesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus,
          </div>
        </button>
      </form>
  </div>
</div>


  <div class="pure-u-sm-1-2">
    <div class="inside-box">
    <form method="get" action= 'canvas/new'>
      <input type="hidden" name="room_choice" value="3" >
      <button id="third_svg" type="submit" class="link-button">
        <img src= "/images/room_3.svg"/ width=100% height=auto>
      </button>
    </form>
  </div>
  </div>

  <div class="pure-u-sm-1-2">
    <div class="inside-box">
    <form method="get" action= 'canvas/new' >
      <input type="hidden" name="room_choice" value="4" >
      <button id="fourth_svg" type="submit" class="link-button">
        <img src= "/images/room_4.svg"/ width=100% height=auto>
      </button>
    </form>
  </div>
</div>
</div>
