<h1>Blank Canvas</h1>

<%= form_for @canva, html: { multipart: true } do |f| %>
<%= f.hidden_field :canva_svg, :value => "/images/test.svg"%>
<%= f.submit :type => :image, :src => "/images/test.svg" %>
<% end %>
