<div id="box1"><a href = 'canvas/new' id="box1"><img src ='/images/test.svg'></a></div>

<%= form_for @canva, html: {multipart: true} do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit "Upload picture" %>
<% end %>
