<% Miro.options[:method] = "histogram" %>
<% Miro.options[:color_count] = 3 %>
<% @path = @canva.image.url %>
<% color = Miro::DominantColors.new("#{Rails.root}" + '/public' + @path.split('?')[0]).to_hex %>
<div id="first"><canvas id="canvas_1" width="50" height="50" style="background-color: <%= color[0] %>;"></canvas></div>
<canvas id="canvas_2" width="50" height="50" style="background-color: <%= color[1] %>;"></canvas>
<canvas id="canvas_3" width="50" height="50" style="background-color: <%= color[2] %>;"></canvas>
