<h1>My collection</h1>

<%@canvases.each do |canva|%>
<div id = 'photo'>
<%if canva.sketches.any?%>
  <%= image_tag canva.image.url(:medium) %>
  <% end %>
  </div>
  <div id = 'sketch'>
    <% canva.sketches.each do |sketch| %>
      <%= image_tag sketch.image_path %>
      <%= button_to 'delete', canva_sketch_path(id: sketch.id, canva_id: sketch.canva.id), method: :delete %>

    <%end%>
  <%end%>
</div>
