<h1>My collection</h1>

<%@canvases.each do |canva|%>
<div id = 'photo'>
<%if canva.sketches.any?%>
  <%= image_tag canva.image.url(:medium) %>
  <% end %>
  </div>
  <div id = 'sketch'>
    <% canva.sketches.each do |sketch| %>
      <%= image_tag sketch.image_path %>
  
    <%end%>
  <%end%>
</div>
