<h1>My collection</h1>

<%@canvases.each do |canva|%>

    <% canva.sketches.each do |sketch| %>
    <div class="textCenter collectionSketch">
      <%= image_tag sketch.image_path, :class => "paint_collection_view" %>
    </div>
    <div class="textCenter">
      <span class="littlePhoto"><%= image_tag canva.image.url(:medium) %></span>
      <%= button_to 'delete', canva_sketch_path(id: sketch.id, canva_id: sketch.canva.id), method: :delete, :class => "photoDeleteBtn" %>
    </div>

    <%end%>
<%end%>
</div>
