<h1> How to use the site </h1>

<center>
  <section >
      <p> You can upload your photo to color your living room canvas on this site. </p>
      <p> Tip: You may want to upload a photo with bright colors in order to get a variation of colors in the palette.</p>
  </section>

  <section >
    <div class="photoFrame">
      <img src="images/examples/colourfulFlowers.jpeg" />
      <figcaption class="photoLabel">Great Choice!</figcaption>
    </div>

    <div class="photoFrame">
      <img src="images/examples/dark-city.jpeg" />
      <figcaption class="photoLabel">Too dark</figcaption>
    </div>
  </section>
</center>
