/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= captions
 */


 input[type="submit"]
 {
   background:url(images/test.svg);
 }

 .error {
      color: #464242;
      border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-color: #f0f8ff;
			background-position: 10px center;
 		}

    body{
      font-family: 'Playfair Display', serif;
      color: #464242;

     }

     h1{
       margin: 10px;
       font-weight: normal;
       text-align: center;
       font-size: 50px;
     }

     h2{
       font-family: 'Playfair Display', serif;
       margin: 10px;
       font-weight: normal;
       text-align: center;
       font-size: 35px;
     }

     .logo{
       text-transform: initial;
       display: inline;
       float: left;
       margin: 0px 30px 0px 30px;
       text-decoration: none;
       font-family: 'Playfair Display', serif;
       font-size: 40px;
       letter-spacing: 0.01em;
       color: #464242;

     }

     .italic{
       font-weight: bold;
       font-style: italic;
       color: #3a3737;
     }

     .right{
       display: inline;
       float: right;
       margin: 0px 30px 0px 30px;
     }

     .menu-list{
       color: #8a8181;
       font-family: 'Playfair Display', serif;
       font-size: 24px;
     }

     li a{
       text-decoration: none;
       color: #8a8181;
     }

     input[type="submit"]
     {
       background:url(images/test.svg);
     }

     .upload-field {
      font-size: 25px;
     }

     .not_bens_palette {
       text-align: center;
       font-size: 0px;
       margin-bottom: 10px;
      }

     .palette {
      float: left;
      width: 20%;
      text-align: center;
    }

    .palette canvas {
      display: block;
      margin: 20px 10px 10px 10px;
    }

     .paint_view {
       float: right;
       width: 80%;
     }


    .paint_view svg {
      max-width: 1000px;
      width: 100%;
    }

     .paint {
      border: 2px solid;
      border-radius:50%;
     }

     input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
       font-family: 'Cormorant Garamond', serif;
       background-color: white;
     }

    input[type="submit" i].side_nav_button {
      color: white;
      width: 85%;
      font-size: 20px;
      font-weight: bold;
      height: 60px;
      background-color: #464242;
      font-family: 'Playfair Display', serif;
      border: none;
      margin-bottom: 10px;
    }

    #side_nav_lighter {
      background-color: #9E9E9E;
    }

     .roomView {
       width: 45%;
       margin:auto;
     }

     .upload {
       margin: 10px;
     }

     .outside-box {
       width: 80%;
       margin: auto;
     }

     .pure-u-sm-1-2 {
       vertical-align: baseline;
     }
     .pure-menu-horizontal {
       padding-top: 30px;
     }
    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
      margin-bottom: 18px;
    }

    .bigBtnDefault {
      background-color: #464242 !important;
      color: white;
      height: 80px;
      width: 385px;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      border: none;
      margin: 10px;
    }

    .bigBtnLighter {
      background-color: #9E9E9E !important;
      color: white;
      height: 80px;
      width: 385px;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      border: none;
      margin: 10px;
    }

    .bigBtnLight {
      background-color: #D1D1D1 !important;
      color: white;
      height: 80px;
      width: 385px;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      border: none;
      margin: 10px;
    }

    .mediumBtnDefault {
      background-color: #464242 !important;
      color: white;
      height: 80px;
      width: 180px;
      font-family: 'Playfair Display', serif;
      font-size: 25px;
      border: none;
      margin: 10px;
    }

    .mediumBtnLighter {
      background-color: #9E9E9E !important;
      color: white;
      height: 80px;
      width: 180px;
      font-family: 'Playfair Display', serif;
      font-size: 25px;
      border: none;
      margin: 10px;
    }

    .mediumBtnLight {
      background-color: #D1D1D1 !important;
      color: white;
      height: 80px;
      width: 180px;
      font-family: 'Playfair Display', serif;
      font-size: 25px;
      border: none;
      margin: 10px;
    }

    .actionNumber {
      font-size: 40px;
    }
    .imageUploadDiv {
      margin: 100px 10px 100px 10px;
      text-align: center;
    }

    .continue-try-div {
      text-align: center;
      margin-top: 80px;
    }

    .style_image {
      height: auto;
      width: 300px;
      display: block;
      margin-top: 100px;
      margin-left: auto;
      margin-right: auto;
    }


    h1 {
      margin: 30px;
    }

    .photoFrame {
      width: 300px !important;
      margin: 30px;
    }

    .photoFrame img {
      vertical-align: middle;
      width:inherit;
    }

    .photoLabel {
      background-color: #9E9E9E !important;
      color: white;
      height: 50px;
      line-height: 45px;
      padding-left: 15px;
      font-family: 'Playfair Display', serif;
      font-size: 25px;
      border: none;
    }

    section {
      margin: 20px;
      width: 500px;
      display: inline-block;
      vertical-align: middle;
    }

    .textLeft {
      text-align: left;
    }

    h1 img {
      width: 5%;
      height: 5%;
      margin-bottom: 6px;
    }
    .helper_colours {
      float: right;
      margin-right: 20px;
    }
    .user_colours {
      float: right;
    }
  .paintInfo {
    width: 85%;
    margin: 30px auto 15px auto;
    font-family: 'Fauna One', serif;

  }
  .paint_wrapper {
    text-align: center;
  }
  canvas {
    z-index: 999;
  }
  #page_wrapper {
    max-width: 1350px;
    margin: 0px auto 50px auto;
  }

    form.button_to {
      display: inline-block;
      vertical-align: top;

    }

    .textCenter {
      text-align:center;
    }

    .paint_collection_view {
      width: 45%;
    }

    .field {
      font-family: 'Playfair Display', serif;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 0px;
      text-align: center;
    }



    .field input {
      width: 300px;

    }

  input[type=checkbox], input[type=radio]
    .field label {
      width: 200px;
      font-size: 15px;
      margin-top: 0px;

    }

    .field label[for=user_remember_me]{
      font-size: 15px;
      width: 100px;
      margin-top: 0px;
    }

    .actions {
      margin-top: 100px;
      text-align: center;

    }

    .actions input{
      width: 300px;
      background-color: #464242;
      color: white;
      height: 80px;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
        }

    h2 {
      margin-bottom: 80px;
      margin-top: 50px;
    }
   .paint_collection_view svg {
     max-width: 1000px;
     width: 100%;
   }

   .collectionSketch {
     margin: 20px;
   }

   .littlePhoto {
     margin-left: 10px;
     margin-right: 10px;
   }

   .littlePhoto img {
     width: 200px;
     border-radius: 4px;
   }

   .photoDeleteBtn {
     background-color: #9E9E9E !important;
     color: white;
     height: 80px;
     width: 200px !important;
     font-family: 'Playfair Display', serif;
     font-size: 25px;
     border: none;
     margin: 0px !important;
   }

   @media screen and (max-width: 1200px) {
      .outside-box {
        width: 80%;
      }
      .paint_collection_view {
        width: 55%;
      }
   }

   @media screen and (max-width: 1000px) {
      .outside-box {
        width: 80%;
      }
      .paint_collection_view {
        width: 65%;
      }
   }

   @media screen and (max-width: 800px) {
      .outside-box {
        width: 80%;
      }
      .paint_collection_view {
        width: 80%;
      }

      .littlePhoto {
        margin-left: 5px;
        margin-right: 5px;
      }

      .littlePhoto img {
        width: 150px;
      }
   }

   @media screen and (max-width: 600px) {
     .littlePhoto {
       margin-left: 2px;
       margin-right: 2px;
     }

     .littlePhoto img {
       width: 100px;
     }
     .photoDeleteBtn {
       width: 150px !important;
       height: 65px;
       font-size: 20px;
   }
}
