/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require ben.css
 */


 input[type="submit"]
 {
   background:url(images/test.svg);
 }

 .error {
      color: #9F6000;
      background-color: #FEEFB3;
      background-image: url('http://i.imgur.com/Z8q7ww7.png');
      border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
 		}

    body{
      font-family: 'Playfair Display', serif;
      color: #464242;
     }

     h1{
       margin: 10px;
       font-weight: normal;
       text-align: center;
       font-size: 50px;
     }

     h2{
       font-family: 'Playfair Display', serif;
       margin: 10px;
       font-weight: normal;
       text-align: center;
       font-size: 35px;
     }

     .logo{
       text-transform: initial;
       display: inline;
       float: left;
       margin: 0px 30px 0px 30px;
       text-decoration: none;
       font-family: 'Playfair Display', serif;
       font-size: 40px;
       letter-spacing: 0.01em;
       color: #464242;
     }

     .italic{
       font-weight: bold;
       font-style: italic;
       color: #3a3737;
     }

     .right{
       display: inline;
       float: right;
       margin: 0px 30px 0px 30px;
     }

     .menu-list{
       color: #8a8181;
       font-family: 'Playfair Display', serif;
       font-size: 24px;
     }

     li a{
       text-decoration: none;
       color: #8a8181;
     }

     input[type="submit"]
     {
       background:url(images/test.svg);
     }

     .upload-field {
      font-size: 25px;
     }

     .error {
          color: #9F6000;
          background-color: #FEEFB3;
          background-image: url('http://i.imgur.com/Z8q7ww7.png');
          border: 1px solid;
    			margin: 10px 0px;
    			padding: 15px 10px 15px 50px;
    			background-repeat: no-repeat;
    			background-position: 10px center;
     		}

     .palette {
      float: left;
      width: 20%;
      text-align: center;
     }
    .palette canvas {
      display: block;
      margin: 20px 10px 10px 10px;
    }

     .paint_view {
       float: right;
       width: 80%;
     }

     .paint_view svg {
        width: 100%;
     }

     .paint {
      border: 2px solid;
      border-radius:50%;
     }

    input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
      background-color: #464242;
      color: white;
      height: 80px;
      width: 385px;
      font-family: 'Playfair Display', serif;
      font-size: 40px;
      border: none;
      margin: 10px;
      border-style: none;
    }

    .side_nav_button:hover {
      background-color: #2a2929;
    }

    input[type="submit" i].side_nav_button {
      width: 85%;
      font-size: 20px;
      font-weight: bold;
      height: 60px;
    }

     .roomView {
       width: 45%;
       margin:auto;
     }

     .upload {
       margin: 10px;
     }

     .inside-box {
       margin: 10px;
     }

     .outside-box {
       width: 80%;
       margin: auto;
     }

     @media screen and (max-width: 1200px) {
        .outside-box {
          width: 80%;
        }
     }

     @media screen and (max-width: 1000px) {
        .outside-box {
          width: 80%;
        }

     }

     @media screen and (max-width: 800px) {
        .outside-box {
          width: 80%;
        }
     }

     .pure-u-sm-1-2 {
       vertical-align: baseline;
     }
     .pure-menu-horizontal {
       padding-top: 30px;
     }
    hr {
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
      margin-bottom: 18px;
    }
    .rotate {
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
    }
    h1 img {
      width: 8%;
      height: 8%;
    }
    .helper_colours {
      float: right;
    }
    .user_colours {
      float: right;
    }
    .paintInfo {
      margin: 8px;
      font-family: 'Fauna One', serif;
    }
