
 *, *:after, *:before {margin: 0; padding: 0; box-sizing: border-box; position: relative;}

.inside-box {
	width: auto;
  margin: 10px;
	}
	.caption-layout {
    position: absolute;
		top: 80%;
		z-index: 1;
    opacity: 1;
		background: #8a8181;
		color: white;
		font-family: 'Playfair Display', serif;
		transition: 1s;
		padding: 10px;
		}

.inside-box:hover .caption-layout {
  position: absolute;;
	z-index: 1;
	top: 60%;
	}


 .first_svg {
   z-index: 1
 }

 .second_svg {
   z-index: 1
 }

 .third_svg {
   z-index: 1
 }

 .fourth_svg {
   z-index: 1
 }
